*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  width: 30vw;
  overflow: auto;
  border: solid black .3vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}