*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}



ul{
  list-style: none;
  margin-left: 1vw;
}
ul li{
  background-color: rgb(rgb(196, 183, 183));
  
}

.comidas{
  width: 100vw;
  background-color: rgb(247, 242, 231);
}

.comida-container {
  margin-left: 2vw;
  background-color: rgb(247, 242, 231);
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  margin-left: 3vw;
  width: 30vw;
  height: auto;
  overflow-wrap: anywhere;
  background-color: white;
  box-shadow: .1vw .2vh .1vh #000000;
  display: flex;
  margin: 1vw 1vh 1vw 1vh;
  flex-direction: column;
  border-radius: 5%;
  padding-bottom: 3vh;

}

.comida{
  font-size: 5vh;
  margin-top: 7vh;
  margin-left: .5vw;
}

.categoria{

  font-size: 3vh;
  color: brown;

  .cat{
    position: absolute;
    margin-top: 3vh;
    margin-left: 1vw;
  }
}

.provincia{
  color: gray;
  font-size: 2vh;
  margin-left: 1vw;
}

.ingrediente{
  margin-left: 1vw;

}

.addFood{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 100vw;
  background-color: rgb(247, 242, 231);
}

.ingrediente{
  background-color: rgb(rgb(196, 183, 183));

}